.containerCaracteristicas{
    margin-top: 20px;
    color: #383B58;
    margin-left: 7px;
}

.items{
    color: #383B58;
    margin-top: 20px;
    
}
.items ul{
    height: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.items li{
    padding-bottom: 20px;
}

hr{
    height:1px;
    border-width:0;
    color:#1DBEB4;
    background-color:#1DBEB4;
    
}
/* #1DBEB4 */