.cardsPuntaje {
    width: 80px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
}
.cardsPuntajeRow{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-weight: 500;
    align-items: center;
    

}
.false{
    display: none;
}
.true{
    display: block;
}

.cardsPuntajeNum {
    width: 34px;
    height: 34px;
    
    margin-right: 6px;
    background: #545776;
    border: 1px solid #383B58;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #F3F1ED;
}


div.cardsPuntaje p.cardsPuntajeText {
    font-style: normal;
    font-weight:bold;
    font-size: 14px;
    text-align: right;
    color: #383B58;
    width: 100%;
    margin-top: 3px;
    margin-right: 6px;
}

@media (min-width: 414px ) {

    .cardsPuntaje{
        margin-top: 5px;
        margin-right: 2px;
    }

}