.Container-Recomendaciones{
   background-color: #383B58;
   padding-top: 20px;
}
.cardsContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 10px;
   
}
.titleRecomendaciones{
   text-align: start;
   color: white;
   margin-left: 5%;
   margin-top: 25px;
   margin-bottom: 10px
 }

 .error{
    margin-top: 15px;
    color: white;  
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
 }

 .errorMessage{
   font-family: 'Roboto', sans-serif;
  
 }

 .cryIcon{
    color: white;
    margin-bottom: 7px;
    font-size: 35px;
    
 }
 

@media screen and (min-width: 768px ) {
   
   .Container-Recomendaciones{
      background-color: #383b5818;
      height: max-content;
   }
   .titleRecomendaciones{

      color: #383B58;
      text-align: start;
   }   

   .error{
      color: #383B58;
   }
   .cryIcon{
      color: #383B58;
   }
   
}
