
.card {
    border: 1px solid #C4C4C4;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #101010;
    width: 90%;
    height: 491px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.cardsImg{
    width: 100%;
    height: 231px;
    border-radius: 8px;

}
.cardsRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    width: 324px;
}

.cardsInfo {
    padding-left: 16px;
    color: #383B58;
    margin-top: 20px
}

div.cardsInfo .categoria {
    font-size: 14px;
    font-weight: 700;
    opacity: 50%;
    line-height: 17,5px;
    margin-bottom: 0px;
    font-family: 'Quicksand', sans-serif;
    
}

div.cardsInfo h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;

}

div.cardsInfo p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}





.cardBtn {
    background-color: #1DBEB4;
    color: white;
    border: none;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    margin-left: 15.5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardBtn:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all 0.3s ease;
}

@media screen and (min-width: 768px ) {
    
    .card{
        display: flex;
        width: 95%;
        height: 283px;
        box-shadow: 0px 2px 5px #C4C4C4;
    }

    .cardsImg{
        width: 311px;
        height: 283px;
    }
   

    

    div.cardsInfo .categoria {
        height: 25px; ;
    }

    .cardsInfo{
        width: 90%;
    }

    .cardsRight {
        height: 283px;
        width: 80%;
    }

    .cardBtn{
        width: 90%;
        height: 40px;
        margin-bottom: 11px;
        margin-top: 10px;
    }

    .cardsDescription{
        margin-bottom: 0px;
        margin-top: 28px;
    }

}

 /* desktop */
 @media screen and (min-width: 1200px){
    .card{
        display: flex;
        width: 605px;
        flex-wrap: nowrap;
    }    
    div.cardsInfo{
        margin-top: 20px;
    }
    div.cardsInfo p{
        width: 90%;
        
    }
    .cardBtn{
        width: 90%;
        height: 40px;
        margin-bottom: 11px;
        margin-top: 10px;
    }

 }
