@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

.icon-x{
    visibility: hidden;
}

.container-avatar{
    font-family: roboto;
    font-size: 15px;
    
    margin-bottom: 10px;
   
}

.container-avatar2{
   display: none;
}

.container-avatar-text{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
    
}

.avatar{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}
.text-avatar{
    text-align: center;
    margin-top: 15%;
    color:#545776;
    font-size: 20px;
}

.text-name{
    
    margin-right: 10px;
    margin-bottom: 10px;
}

.saludo{
    color:white;
    margin-top: 5px;
    text-align: end;
}

.name{
    color: #383B58;
}

@media screen and (min-width: 768px){
    
    .container-avatar2{
        display: block;
        
        width: 185px;
     }

    .icon-x{
        margin-top: 5%;
        margin-left: 70%;
        visibility: visible;
        font-size: 16px;
       
    }

    .container-avatar-text{  
        flex-direction: row;
        margin-top: 0%;
    }

    .avatar{
        
        background-color: #383B58;
        margin-right: 5%;
    }

    .text-avatar{
        margin-top: 17%;
        color:white;
        
    }
    
    .text-name{
        margin-top: 0%;
        margin-right: 10%;
    }

    .saludo{
        color:grey;
        text-align: start;
        /* margin-top: 5%; */
    }
    
    .name{
        color: #1DBEB4;
    }

    .link-logout{
        align-items: flex-end;
        text-decoration: none;
        color:#383B58;
    }
}
@media screen and (min-width: 1366px){

    .icon-x{
        margin-left: 75%;
        margin-top: 5%;
    }

    .text-avatar{
        text-align: center;
        margin-top: 22%;
    }
}
